/* CUSTOM FONT */

@font-face
{
    font-family: 'Raleway';
    src: url('fonts/Raleway/static/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* UTILITY CLASSES */

.card-img
{
  object-fit: cover;
  object-position: center;
  min-height: 0;
}

.flex
{
  display: flex;
}

.blue
{
  color: #0065FC;
}

.width100
{
  width: 100%;
}

/* HTML ELEMENTS */

body
{  
    font-family: 'Raleway', Arial, sans-serif;
    color: #181818;
}

button
{
  font-family: 'Raleway', Arial, sans-serif;
}

h1, h2, h3, p
{
  margin: 0;
}

h1
{
  font-size: 1.3rem;
}

h2
{
  font-size: 1.2rem;
}

h3, a
{
  font-size: 1rem;
}

p
{
  font-size: 0.9rem;
}

a
{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover
{
  color: #0065FC;
}

header, footer{
  width: 100%;
  max-width: 1260px;
  margin: auto;
}

/* ICONS */
i
{
  padding: 12px;
  font-size: 20px;
}

.fa-money-bill-wave
{
  font-size: 15px;
  padding: 14px 11px;
}

.fa-child
{
  padding: 11px 13px;
}

.fa-star
{
  font-size: 14px;
  margin-right: -2px;
  margin-bottom: 5px;
}

.fa-star
{
  padding: 0;
}

.fa-star.grey
{
  color: #cecece;
}

/* HEADER */

header
{
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background-color:  #DEEBFF;
}

#logo
{
  padding-left: 15px;
  margin-right: auto;
}

nav ul
{ 
  list-style-type: none;
  padding: 0;
}

nav a
{
  padding: 14px 30px 0 30px;
}

nav a:hover
{
  border-top: 2px solid #0065FC;
}

/* BLOCK PAGE */

#page
{
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

/* ----> SEARCH BLOCK */

#search > p
{
  margin-top: 5px;
}

/* --------> SEARCH BOX */
#search-box
{
  background-color: white;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  width: 420px;
  height: 50px;
  margin: 20px 0;
}

#search-box .fa-map-marker-alt
{
  background-color: #F2F2F2;
  border-radius: 9px 0 0 9px;
  padding: 15px 18px 12px 18px;
}

#search-box input
{
  border: none;
  flex: 1;
  padding: 0 10px 0 10px;
  font-size: 1.2rem;
  min-width: 0;
}

#search-box button
{
  border: none;
  color: white;
  background-color: #0065FC;
}

#search-button-text
{
  padding: 0 10px;
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
}

#search-button-icon
{
  display: none;
  padding: 0 5px;
  border-radius: 10px;
}

/* --------> FILTER LIST */
#filter-box 
{
  align-items: center;
  margin: 20px 0;
}

#filter-list
{
  align-items: center;
  flex-wrap: wrap;
}

.filter-item
{
  align-items: center;
  width: auto;
  height: 34px;
  box-sizing: border-box;
  border: 2px solid #F2F2F2;
  border-radius: 30px;
  border-left: none;
  padding: 20px 20px 20px 0;
  margin-left: 25px;
}

.filter-item:hover
{
  background-color:  #0065FC;
  border: 2px solid#DEEBFF;
  border-left: none;
  color: white;
}

.filter-item i
{
  margin-right: 8px;
  background-color: #DEEBFF;
  border-radius: 50%;
}

/* --------> INFO N LOGEMENTS */
#info
{
  align-items: center;
  margin-bottom: 25px;
}

#info i
{
  font-size: 10px;
  padding: 4px 7px;
  border: 1px solid #DEEBFF;
  border-radius: 50%;
  margin-right: 5px;
}

/* ----> SEARCH RESULTS BLOCK */

/* --------> SEARCH RESULTS SECTION */
#results
{
  justify-content: space-between;
}

#hotels
{
  padding: 30px 20px 30px 20px;
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 65%;
}

#hotels-grid
{
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.hotel-card
{
  width: 31%;
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  margin-top: 20px;
  flex-direction: column;
  box-shadow: 4px 4px 4px #cecdcd;
}

.hotel-card .card-img
{
  height: 120px;
  border-radius: 20px 20px 0 0;
}

.hotel-card .card-body
{
  margin-left: 10px;
}

/* --------> POPULAR RESULTS ASIDE */
#popular
{
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 30px 20px 10px 20px;
  margin-left: 2%;
  width: 27%;
}

#popular #title
{
  justify-content: space-between;
}

#popular #title i
{
  display: inline-block;
  padding: 0;
  padding-top: 4px;
}

#popular-list
{
  flex-direction: column;
  align-items: center;
  height: 90%;
  margin-top: 0px;
}

.popular-card
{
  width: 100%;
  height: 29%;
  background-color: white;
  border-radius: 20px;
  border: 3px solid white;
  box-sizing: border-box;
  margin-top: 20px;
  box-shadow: 4px 4px 4px #cecdcd;
}

.popular-card .card-img
{
  width: 40%;
  border-radius: 20px 0 0 20px;
}

.popular-card .card-body
{
  flex-direction: column;
  margin-left: 10px;
}

.popular-card .card-body p
{
  margin: 0;
}

.popular-card .card-body h3
{
  margin: 5px 0;
}

.popular-card .rating
{
  margin-top: auto;
}

.card-body p
{
  margin-bottom: 5px;
  padding-right: 5px;
}

.card-body h3
{
  margin: 10px 0 5px 0;
  padding-right: 10px;
}

/* ----> ACTIVITIES BLOCK */
#activities
{
  flex-direction: column;
  padding-top: 25px;
}

#activities-grid
{
  margin-top: 15px;
}

.activities-column
{
  flex: 25%;
  padding: 0 15px;
  height: 450px;
  flex-direction: column;
  justify-content: space-between;
}

.activity-card
{
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #cecdcd;
}

.activity-card .card-img
{
  flex: 1;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.activity-card h3
{
  flex-basis: 40px;
  align-items: center;
  margin: 5px 15px;
}

.activities-column:nth-of-type(1)
{
  padding-left: 0;
}

.activities-column:nth-of-type(4)
{
  padding-right: 4px;
}

.activities-column:nth-of-type(2) .activity-card:nth-of-type(1)
{
  height: 60%;
}

.activities-column:nth-of-type(2) .activity-card:nth-of-type(2)
{
  height: 35%;
}

.activities-column:nth-of-type(4) .activity-card:nth-of-type(1)
{
  height: 45%;
}

.activities-column:nth-of-type(4) .activity-card:nth-of-type(2)
{
  height: 50%;
}

/* FOOTER */
footer
{
  flex-wrap: wrap;
  margin-top: 50px;
  background-color: #F2F2F2;
}

footer div
{
  padding: 30px 15px 15px 30px;
  margin-right: 100px;
}

footer h2
{
  margin-bottom: 20px;
}

footer p
{
  margin-bottom: 10px;
}

/* MOBILE */

@media all and (max-width: 629px)
{

  header, footer
  {
    width: auto;
  }

  #page
  {
    width: 95%;
  }

  /* HEADER */

  #nav-links
  {
    order: 2;
    width: 100%;
  }

  #nav-links ul
  {
    justify-content: center;
    margin: 0;
  }

  #nav-links li
  {
    width: 50%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 2px solid #F2F2F2;
  }

  #nav-links li:hover
  {
    border-top: 0;
    border-bottom: 2px solid #0065FC;
  }

  #nav-links a
  {
    padding: 0;
    padding-top: 0px;
  }

  nav a:hover
  {
    border: 0;
  }

  #filter-box 
  {
    flex-direction: column;
    align-items: initial;
  }
  .filter-item
  {
    margin-top: 10px;
  }

  #search-box
  {
    width: 100%;
  }

  #search-button-icon
  {
    display: block;
    background-color: #0065FC;
  }

  #search-button-text
  {
    display: none;
  }

  /* ----> SEARCH RESULTS BLOCK */
  #results
  {
    flex-direction: column;
  }

  #hotels
  {
    order: 2;
    width: auto;
    background-color: white;
    padding: 30px 15px 15px 15px;
  }

  .hotel-card
  {
    width: 100%;
  }

  #popular
  {
    order: 1;
    width: auto;
    border-radius: 0;
    margin: 0;
    padding-bottom: 30px;
  }

  .popular-card
  {
    height: 140px;
  }

  #activities
  {
    padding: 25px 15px 0 15px;
  }

  #activities-grid
  {
    flex-direction: column;
    align-items: center;
  }

  .activities-column
  {
    width: 100%;
  }

  .activities-column:nth-of-type(1)
{
  padding-left: 15px;
}

.activities-column:nth-of-type(4)
{
  padding-right: 15px;
}

  .activity-card
  {
    height: 200px;
    margin-bottom: 20px;
  }

  .activities-column:nth-of-type(2) .activity-card:nth-of-type(1)
  {
    height: 200px;
  }

  .activities-column:nth-of-type(2) .activity-card:nth-of-type(2)
  {
    height: 200px;
  }

  .activities-column:nth-of-type(4) .activity-card:nth-of-type(1)
  {
    height: 200px;
  }

  .activities-column:nth-of-type(4) .activity-card:nth-of-type(2)
  {
    height: 200px;
  }

}

@media all and (max-width: 930px) and (min-width: 630px)
{

  #filter-box 
  {
    flex-direction: column;
    align-items: initial;
  }
  .filter-item
  {
    margin-top: 10px;
  }
  /* ----> SEARCH RESULTS BLOCK */
  #results
  {
    flex-direction: column;
  }

  #hotels
  {
    order: 2;
    width: auto;
    padding: 15px;
  }

  #popular
  {
    
    order: 1;
    width: auto;
    margin: 0;
    padding-bottom: 30px;
    margin-bottom: 20px;
  }

  #popular-list
  {
    flex-direction: row;
    justify-content: space-between;
  }

  .popular-card
  {
    height: 150px;
    width: 32%;
  }

  .activities-column
  {
    height: 325px;
    padding: 0 5px;
  }
}