/* Custom fonts */

@font-face
{
    font-family: 'Raleway';
    src: url('../Raleway/static/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Main page elements */

body
{  
    font-family: 'Raleway', Arial, sans-serif;
    color: #181818;
}

button
{
  font-family: 'Raleway', Arial, sans-serif;
}

h1, h2, h3, p
{
  margin: 0;
}

h1
{
  font-size: 1rem;
}

h2
{
  font-size: 0.9rem;
}

h3
{
  font-size: 0.8rem;
}

p
{
  font-size: 0.8rem;
}

a
{
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

a:hover
{
  color: #0065FC;
}

header
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  background-color:  #DEEBFF;
}

.icon
{
  width: 15px;
  height: 15px;
  padding: 10px;
}

#bloc_page
{
    width: 950px;
    margin: auto;
}

nav ul
{
  padding: 0;  
  list-style-type: none;
  display: flex;
}

nav li
{
  margin-left: 20px;
}

nav a
{
  padding: 10px 5px 0 5px;;
}

nav a:hover
{
  border-top: 2px solid #0065FC;
}

#subscribe_link{
  color: #0065FC;
}

#search_box
{
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  width: 300px;
  display: flex;
  margin: 15px 0;
}

#search_box img
{
  flex-basis: 20px;
  width: 10px;
}

#search_box input
{
  border: none;
  padding: 0 10px 0 10px;
}

#search_box button
{
  border: none;
  color: white;
  background-color: #0065FC;
  border-radius: 0 10px 10px 0;
  flex-basis: 150px;
}

#filter_list
{
  margin: 20px 0;
  display: flex;
  align-items: center;
}

#filter_list .filter_list-item
{
  display: flex;
  align-items: center;
  width: auto;
  height: 35px;
  margin-left: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid #F2F2F2;
  border-radius: 30px;
  border-left: none;
  padding-right: 15px;
}

#filter_list .filter_list-item img
{
  margin-right: 8px;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
}

.icon.info
{
  height: 10px;
  width: 10px;
  padding: 4px;
  border: 1px solid #DEEBFF;
  border-radius: 50%;
  margin-right: 5px;
}

#info_n_logements
{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

#search_results_block
{ 
  display: flex;
  justify-content: space-between;
}

#search_results_section
{
  padding: 20px 20px 20px 20px;
  background-color: #F2F2F2;
  border-radius: 10px;
  width: 65%;
}

#serch_result_card_grid
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.search_results_card
{
  width: 190px;
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  margin-top: 15px;
}

.search_results_card .card_img
{
  height: 85px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.search_results_card .card_body
{
  margin-left: 10px;
}

.search_results_card .icon
{
  padding: 0;
}

#popular_results_aside
{
  background-color: #F2F2F2;
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  width: 26%;
}

#popular_card_list
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95%;
}

.popular_card
{
  display: flex;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 3px;
  margin-top: 15px;
}

.popular_card .card_img
{
  height: 95px;
  width: 95px;
  border-radius: 20px 0 0 20px;
}

.popular_card .icon
{
  padding: 0;
}

.popular_card .card_body
{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.popular_card .review
{
  margin-top: auto;
}

.card_body p
{
  margin: 2px 0;
}

.card_body h3
{
  margin-top: 2px;
}

#activities_block
{
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

#activity_card_list
{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.activity_slot
{
  width: 23%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activity_card
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 2px 5px #7c7a7a;
}

.activity_card .card_img
{
  flex: 1;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.center_text
{
  flex-basis: 30px;
  margin-top: auto;
  display: flex;
  align-items: center;
}

.center_text h3
{
  margin-left: 10px;
}

.activity_slot.first .activity_card.first
{
  height: 160px;
}

.activity_slot.first .activity_card.first .card_img
{
  height: 130px;
}

.activity_slot.first .activity_card.second
{
  height: 160px;
}

.activity_slot.first .activity_card.second .card_img
{
  height: 130px;
}
/* SECOND ACTIVITIES SLOT */
.activity_slot.second .activity_card.first
{
  height: 130px;
}

.activity_slot.second .activity_card.first .card_img
{
  height: 100px;
}

.activity_slot.second .activity_card.second
{
  height: 190px;
}

.activity_slot.second .activity_card.second .card_img
{
  height: 160px;
}

footer
{
  display: flex;
  margin-top: 20px;
  background-color: #F2F2F2;
}

footer div
{
  padding: 20px;
  margin-right: 150px;
}

